[Desktop Entry]
Type=Application
Exec=/home/heywoodlh/.nix-profile/bin/fish -c signal
Terminal=false
Name=Signal
Categories=Network;Messenger;Security;
Icon=/home/heywoodlh/Documents/Icons/signal.png
GenericName=Message
