[Desktop Entry]
Type=Application
Exec=/home/heywoodlh/.nix-profile/bin/fish -c thunderbird
Terminal=false
Name=Thunderbird
Categories=Network;WebBrowser;Security;
Icon=/home/heywoodlh/Documents/Icons/thunderbird.png
GenericName=Web Browser
