[Desktop Entry]
Type=Application
Exec=/home/heywoodlh/.nix-profile/bin/fish -c wireshark-docker
Terminal=false
Name=Wireshark
Categories=Network;Security;
Icon=/home/heywoodlh/Documents/Icons/wireshark.png
Comment=Tor Browser Bundle built by torproject.org
GenericName=Web Browser
